//Reset
body,html {
  margin:0;
  padding:0;
  width:100vw;
  overflow-x:hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,div {
  margin:0;
}

button,input,textarea {
  outline-offset: 0;
  outline: none;
  border:0;
  display: inline-block;
}

textarea {
  display: block;
  resize: none;
}

a {
  text-decoration: none;
  color:black;
}

li {
  list-style: none;
}
address {
  font-style: normal;
}



//Fonts
@font-face {
  src: url("../../fonts/RobotoCondensed-Regular.ttf");
  font-family: Roboto-Condensed;
}
@font-face {
  src: url("../../fonts/RobotoCondensed-Light.ttf");
  font-family: Roboto-Condensed-Light;
}
@font-face {
  src: url("../../fonts/RobotoCondensed-Bold.ttf");
  font-family: Roboto-Condensed-Bold;
}





.image-gallery {
  max-width:1020px;
  padding:0 15px;
  width: 100%;
  margin:0 auto;
  font-family: Roboto-Condensed;
  overflow: hidden;


  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
  }

  &__folder {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 30px;
  }

  &__item {
    padding-top:60%;
  }

  &__outerlayer {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index:2;
  }
}